
.o-nas-ico {
    /*padding: 20px 10px 20px 10px;*/
}

.o-nas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin-top: -100px;
    /*transform-style: preserve-3d;
    perspective: 100px;*/
    
}

.o-nas-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #777;
    font-size: 15px;
    padding-bottom: 40px;

    /*box-shadow: 20px 20px 50px rgba(13, 39, 80, 0.3),inset -30px -30px 40px rgba(255, 255, 255, 0.6), inset 23px 23px 40px rgba(13, 39, 80, 0.3);*/
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.one {
    background: url('./outer1.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 410px;
}

.two {
    background: url('./outer2.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 340px; 
}

.three {
    background: url('./outer3.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 340px; 
}

.four {
    background: url('./outer4.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 410px; 
}

.one img {
    padding-top: 65px;
    width: 180px;
}

.two img {
    padding-top: 60px;
    width: 180px;
}

.three img {
    padding-top: 60px;
    width: 180px;
}

.four img {
    padding-top: 65px;
    width: 180px;
}

.o-nas-content {
    width: 200px;
} 
  
.o-nas-title {
    font-size: 24px;
    font-weight: 700;
}
   

  

  
@media (max-width: 1024px) {
      .o-nas-item {
          min-width: 45%;
      }
      .o-nas-item img {
          width: 80px;
      }
}

@media (max-width: 480px) {
      .o-nas-ico {
          width: 100%;
      }
}